

div.Header{
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: center;
    background: #664673;
    color: white;
    font-size: 20px;
    width: 1903px;
    height: 120px;
}


div.Header img{
    position: absolute;
    bottom: 5px;
    right: 1705px;
}


#Menu a{
    position: relative;
    left: 1050px;
    top: 45px;
    color: #dbc5a9;
    text-decoration: none;
    font-size: 20px;
    padding-right:2em;
    font-family: Arial;
    z-index: 100000;


}

#Menu {

}

#accordion section, #accordion .pointer, #accordion h1, #accordion p {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#accordion {

}
#accordion h1 {
    line-height:1.2;
    font-size:20px;
    background-color:rgba(255,0,0,0.3);
    margin: 0;
    padding: 10px 10px 10px 30px;
}

#accordion{
    width: 1040px;

}
#accordion {
    position: absolute;
    left: 850px;
    top: 150px;
    color: #EA9085;

}


#accordion h1 a {
    color:black;
}
#accordion section {
    overflow:hidden;
    height:265px;
    border:1px #333 solid;
}
#accordion p {
    padding:0 10px;
    color:black;
}
#accordion section.ac_hidden p:not(.pointer) {
    color:#dbc5a9;
}

#accordion section.ac_hidden {
    height:45px;
}
#accordion .pointer {
    padding:0;
    line-height:20px;
    width:13px;
    position:absolute;

}
#accordion section:not(.ac_hidden) h1 {
    background-color:rgba(255,0,0,0.7);
}

#accordion section:not(.ac_hidden) .pointer {
    display:block;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
    padding:0;

}

#Menu a:hover{
    color: #e3b06f;

    font-size: 20px;

    text-decoration: none;

}
#cf7 img{
    position: absolute;
    right: 855px;
    top: 110px;

}



p#cf7_controls {
    position: absolute;
    padding-left: 305px;
    top: 625px;
}
#cf7_controls span {
    position: relative;
    padding-right:2em;
    cursor:pointer;

}
#cf7 {
    position:absolute;
    height:100px;
    width:175px;
}
#cf7 img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#cf7 img.opaque {
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
}

#cf7 img.selected {
    opacity: 1;
}



div.Background p{
    position: absolute;
    color: black;
    font-size: 21px;
    right: 0px;
    font-weight: normal;
    text-shadow: none;
    padding-left: 5px;
}

div.Background{
    position: absolute;
    top: 1175px;
    background: #e8e8e8;
    color: white;
    font-size: 20px;
    width: 1902px;
    height: 1000px;
    left:1px;
    color: black;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px black;
}

div.Background video{
    position: absolute;
    left: 120px;
    border: 5px solid darkred;
}

#ofsted{
    position: absolute;
    left: 250px;
    top: 1000px;
}

#beacon{
    position: absolute;
    left: 650px;
    top: 1000px;
}

#greenflag{
    position: absolute;
    left: 1050px;
    top: 1000px;
}

#tes{
    position: absolute;
    left: 1450px;
    top: 1000px;
}

#History{
    color: black;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    left: 850px;
    top: 150px;
    text-align: center;
}
#History p{
    color: #e3b06f;
    font-size: 20px;

}

#Requirements{
    font-size: 30px;
    width: 1040px;
    background: lightgray;
    color: orangered;
}

#Requirements p{
    color: black;
}

#questions{
    padding-top: 100px;
    color: mediumpurple;
    font-weight: bold;
    font-size: 24px;
}

#FormHeader{
    position:absolute;
    color: #333333;
    font-weight: bold;
    font-size: 32px;
    top: 150px;
    left: 750px;
    text-align: center;
}

#Form{
    position: absolute;
    top: 200px;
    left: 750px;
}

#PastStudents p{
    position: absolute;
    top: 400px;
    right: 1720px;
    font-size: 30px;
    color: #664673;
}

#PastStudents2 p{
    position: absolute;
    top: 400px;
    right: 1420px;
    font-size: 30px;
    color: #664673;
}

#OurAlumni p{
    position: absolute;
    top: 400px;
    right: 1220px;
    font-size: 30px;
    color: #664673;
}

#Alumnus img{
    border: 5px solid goldenrod;
    padding-top: 100px;
}

#Alumnus p{
    position: relative;
    bottom: 650px;
    color: #EA9085;
    font-size: 25px;
    left: 625px;

}