div.Header{
    position: relative;
    right: 6px;
    bottom: 8px;
    text-align: center;
    background: #664673;
    color: white;
    font-size: 20px;

    height: 120px;
}

div.Menu a{
    position: relative;
    left: 950px;
    bottom: 80px;
    color: #dbc5a9;
    text-decoration: none;
    font-size: 20px;
    margin-left: 150px;
    font-family: Arial;

}

div.InfoBox{
    position: relative;

}

div.Menu a:hover{
    color: #e3b06f;

    font-size: 20px;

    text-decoration: none;

}
img {
    position: relative;
    right: 855px;
    bottom: 40px;

}



p#cf7_controls {
   position: relative;
    padding-left: 305px;
    top: -20px;
}
#cf7_controls span {
    position: relative;
    padding-right:2em;
    cursor:pointer;

}
#cf7 {
    position:relative;
    height:500px;
    width:1875px;
    margin:0 auto 10px;
}
#cf7 img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#cf7 img.opaque {
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
}

#cf7 img.selected {
    opacity: 1;
}















